*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  width: 100%;
  height: 100%;
  text-align: center;

}

h1{
  background-color: #081b31;
  color: #fff;
  font-size: 2rem;
  line-height: 5rem;
}

.choice{
  width: 80px;
  height: 85px;
  border-radius: 50%;
  /* border: 3px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.choice:hover{
  background-color: #081b31;
  cursor: pointer;
}
img{
  width: 90%;
  height: 90%;
  object-fit: cover;
  border-radius: 50%;
}
.choices{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin-top:5rem ;
}
.score-board{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  gap: 5rem;
  margin-top: 2rem;
}

#user, #computer{
font-size: 3rem;
}

.msg-container{
  margin-top:4rem;
}
#msg{
  background-color: #081b31;
  color: #fff;
  font-size: 2rem;
  display: inline;
  padding: 1%;
  border-radius: 15px;
}